# AWS SES Configuration
AWS_ACCESS_KEY_ID=//INSERT YOUR AWS ACCESS KEY HERE
AWS_SECRET_ACCESS_KEY=//INSERT YOUR AWS SECRET KEY HERE
AWS_REGION=//INSERT YOUR AWS REGION HERE (e.g. eu-north-1)

# Email addresses
SES_FROM_EMAIL=rutputs@pixelpioneer.se
SES_TO_EMAIL=anton@rutputs.nu
