$primary   : #455A64
$secondary : #9cd3ff //Mid Blue
$accent    : #FF6101 //Orange

$body-color: #FAFAFA //Light gray

$dark      : #212931 //Dark gray
$dark-page : #121212

$positive  : #21BA45
$negative  : #C10015
$info      : #31CCEC
$warning   : #F2C037
